<Mapper namespace="cn.elite.dao.IUserDao">
    <!--statementId : namespace.id-->
    <select id="findAll" resultType="cn.elite.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="cn.elite.pojo.User" paramType="cn.elite.pojo.User">
        select * from user where id = #{id} and username=#{username}
    </select>

    <insert id="insert" paramType="cn.elite.pojo.User">
        insert user (id,username)  values(#{id},#{username})
    </insert>

    <update id="update" paramType="cn.elite.pojo.User">
        update  user set username = #{username} where id = #{id}
    </update>

    <delete id="delete" paramType="Integer">
        delete from user where id = #{id}
    </delete>

</Mapper>